[submodule "components/opensbi"]
	path = components/opensbi
	url = https://github.com/project-starch/caplifive-opensbi
[submodule "package/sbi-domain/capstone-sbi"]
	path = package/capstone-sbi-domain/capstone-sbi
	url = https://github.com/project-starch/caplifive-sbi.git
[submodule "buildroot"]
	path = buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
[submodule "components/linux"]
	path = components/linux
	url = https://github.com/project-starch/transcapstone-linux.git
[submodule "components/opensbi-qemu"]
	path = components/opensbi-qemu
	url = https://github.com/project-starch/capstone-opensbi.git
