[submodule "components/linux"]
	path = components/linux
	url = https://github.com/project-starch/transcapstone-linux.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "components/opensbi"]
	path = components/opensbi
	url = https://github.com/project-starch/caplifive-opensbi
[submodule "package/sbi-domain/capstone-sbi"]
	path = package/capstone-sbi-domain/capstone-sbi
	url = https://github.com/project-starch/caplifive-sbi.git
	branch = genesys-testing
