# Architecture
BR2_riscv=y
BR2_RISCV_64=y

# System
BR2_TARGET_GENERIC_GETTY=y


# Linux headers same as kernel
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.1.26"
BR2_LINUX_KERNEL_IMAGE=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_CAPSTONE_PATH)/configs/fpgakernel.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="$(BR2_EXTERNAL_CAPSTONE_PATH)/configs/caplifive.dts"

# Bootloader
BR2_TARGET_OPENSBI=y
# BR2_TARGET_OPENSBI_PAYLOAD_IMAGE=y
# BR2_TARGET_OPENSBI_LINUX_PAYLOAD=y
# BR2_TARGET_OPENSBI_LINUX_PAYLOAD_PATH="../build/images/Image"
BR2_TARGET_OPENSBI_CUSTOM_VERSION=y
BR2_TARGET_OPENSBI_CUSTOM_VERSION_VALUE="1.2"
BR2_TARGET_OPENSBI_PLAT="fpga/ariane"



# Capstone external
BR2_PACKAGE_MODCAPSTONE=y
BR2_PACKAGE_CAPSTONE_TEST_DOMAINS=y
BR2_PACKAGE_CAPSTONE_SBI_DOMAIN=y
BR2_PACKAGE_CAPSTONE_NULL_BLK=y
BR2_PACKAGE_CAPSTONE_NESTED_ENCLAVE=y

BR2_TARGET_ROOTFS_CPIO=y
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_CAPSTONE_PATH)/overlay"
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_INITRAMFS=y